@charset "UTF-8";

.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
.main{
  margin-top: 1rem;
  max-width: 98.9vw;
}

.body{
  width: 70vw;
}

.alerta{
  font-weight: 300;
  font-size: 1.5rem;
}

.contextTell{
  margin-right: 20px;
}

.contextTell > h1{
  font-weight: 300;
}

.contextEnd{
  margin-right: 20px;
}

.contextEnd > h1{
  font-weight: 300;
}

.contextContato > h1{
  font-weight: 300;
}

.contentEnd > p{
  width: 100%; /* largura máxima do contêiner */
  white-space: nowrap; /* impede que o texto seja quebrado em várias linhas */
  overflow: hidden; /* oculta qualquer conteúdo que ultrapasse a largura do contêiner */
  text-overflow: ellipsis; /* exibe um indicador de elipse (...) quando o texto é cortado */
  line-height: 1;
}

@media screen and (max-width: 650px) {
  .body{
    width: 95vw;
  }

  .contextTell{
    margin-right: 0px;
  }
}